.academics-container {
  width: 1350px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.academics-text {
  width: 100%;
  color: gray;
  margin-top: 0px;

  background-color: honeydew;
  text-align: left;
}
.academics-inner {
  padding-left: 3%;
  padding-bottom: 20px;
  padding-right: 3%;
}
.academics-iframe {
  width: 100%;
  height: 800px;
}
@media (max-width: 668px) {
  .academics-container {
    width: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
